

*{
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10%;
}



/* .header{
    text-align: center;
    font-size:xx-large;
   
}

 */.section{
    background-color:black;
    border: 2px solid ;
    border-radius: 5%;
    width: 60%;
    margin: auto;
    min-height: 20vh;
    text-align: center;
    color: rgb(238, 70, 70);
    font-size: 64px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-weight: 900 ;
    box-shadow: 5px 5px black;  
    font-family: "Orbitron", sans-serif;}

    #clockContainer {
        position: relative;
        margin: auto;
        height: 40vw;
        /*to make the height and width responsive*/
        width: 40vw;
        background: url(./clock-without-hands.png) no-repeat;
        /*setting our background image*/
        background-size: 100%;
    }
    
    #hour,
    #minute,
    #second {
        position: absolute;
        
        border-radius: 10px;
        transform-origin: bottom;
        
        /* transform-origin: 5em 30em; */
    }
    
    #hour {
        background: black;
        width: 2.8%;
        height: 18%;
        top: 29.50%;
        left: 48.20%;
        /* opacity: 0.8; */
    }
    
    #minute {
        background: black;
        width: 1.8%;
        height: 25%;
        top: 23%;
        left: 50%;
        /* opacity: 0.7; */
    }
    #second {
        background: black;
        width: 1%;
        height: 30%;
        top: 18%;
        left: 50.19%;
        opacity: 0.6;
    }
    #digital_clockContainer{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    
    #d_hour{
        color: black;
    }
